<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel="icon" type="image/png" href="/img/H.png" />
    <script type="text/javascript" src="/js/jquery-1.9.1.js" ></script>
    <script type="text/javascript" src="/js/library.js" ></script>
  </head>
  <body lang="en">

    <div id='drafting'>
        <h1><%= title %></h1>
        <%  packs.forEach (function (pack) {  %>
        <div class="booster-pack">
            <div class="booster-wrapper">
                <% 
                    var path = "/img/sets/" + (pack.expansion).toLowerCase() + "_booster" + (Math.floor((Math.random()*5)) + 1) + ".jpg"; 
                %>
                <img src="<%=path %>"></img>
            </div>

            <div class="cards">
                <%  pack.cards.forEach (function (card_name) {  
                    var path = "/img/" + pack.expansion + "/" + card_name + ".full.jpg"; %>
                    <div style="display:none;">
                        <img class="card-container small" src="<%=path %>"></img>
                    </div>
                <% }); %>

                <%  pack.foils && pack.foils.forEach (function (card_name) {  
                    var path = "/img/" + pack.expansion + "/" + card_name + ".full.jpg"; %>
                    <div class="foil" style="display:none;">
                        <img class="card-container small foil-overlay" src="/img/foil-overlay.png"></img>
                        <img class="card-container small" src="<%=path %>"></img>
                    </div>
                <% }); %>
            </div>
        </div>
        <% }); %>
    </div>
  </body>
</html>