<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel="icon" type="image/png" href="/img/H.png" />
    <script type="text/javascript" src="/js/jquery-1.9.1.js" ></script>
    <script type="text/javascript" src="/js/library.js" ></script>
  </head>
  <body>
    <div class="container">
        <div class="span12">
            <h1>Welcome to <%= title %></h1>

            <%=cards.length %> CARDS. <br>
            <i class="mana-w small"> </i> <i class="mana-u small"> </i> <i class="mana-b small"> </i> <i class="mana-r small"> </i>  <i class="mana-g small"> </i> 
            <br>
            <i class="mana-bg small"> </i>  <i class="mana-gw small"> </i>  <i class="mana-rw small"> </i>  <i class="mana-ub small"> </i>  <i class="mana-rg small"> </i>  <i class="mana-ur small"> </i> 
            <i class="mana-wb small"> </i> <i class="mana-br small"> </i> <i class="mana-gu small"> </i> <i class="mana-wu small"> </i>  
            <br>
            <i class="mana-x small"> </i> <i class="mana-1 small"> </i> <i class="mana-2 small"> </i> <i class="mana-3 small"> </i> <i class="mana-4 small"> </i>  <i class="mana-5 small"> </i> 
            <i class="mana-6 small"> </i> <i class="mana-7 small"> </i> 
            <br>
            <div id="library">
                <div class="row header">
                    <div class="span3" data-lfield='name'> name </div>
                    <div class="span3" data-lfield='type'> type </div>
                    <div class="span2" data-lfield='mana'> mana  </div>
                    <div class="span2" data-lfield='power-toughness'> pow/tou</div>
                    <div class="span1" data-lfield='rarity'> rarity</div>
                </div>
                <%  cards.forEach (function (card) {  %>
                <div class="row" data-set="<%= card.set %>" data-card-name="<%= card.name %>">
                    <div class="span3" data-lfield='name'> 
                        <a class="showcard" href="#"><%= card.name %></a>
                    </div>
                    <div class="span3" data-lfield='type'> <%= card.type %> </div>
                    <div class="span2" data-lfield='mana'> 
                        <%  for (var i=0; i<card.mana.length; i++) { %>
                                <i class="mana-<%=card.mana[i]%> small"></i>
                        <%  }  %>
                    </div>
                    <div class="span2" data-lfield='power-toughness'> 
                        <% if (card.power && card.toughness) { %>
                            <%= card.power %> / <%= card.toughness %>
                        <% } else if (!card.power && card.toughness) { %>
                            * / <%= card.toughness %>
                        <% } else if (card.power) { 
                                var re = /^%(\d)#$/;
                                if (card.power.search(re) > -1) { %>
                                    <%= card.power.replace(re,"{$1}") %> 
                        <%      } else {  %>
                                    <%= card.power %> 
                        <%      }
                            } %>
                    </div>
                    <div class="span1" data-lfield='rarity'>
                        <img src='/img/sets/<%= (card.set + "_" + card.rarity).toLowerCase() %>.jpg'>
                    </div>
                    <div class="image-placeholder"> </div>
                </div>

                <% }); %>
            </div>
        </div>
    </div>
  </body>
</html>